:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

/* FONT USAGE
font-family: 'League Spartan', sans-serif;
font-family: 'Work Sans', sans-serif;
*/


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    background: var(--body-bg-color) url(assets/read_news.jpg) right/auto 100% no-repeat;

    overflow: hidden;
}

.container {
    width: 50%;
    height: 100%;
    padding-left: 2rem;
    padding-top: 2rem;

    background-color: var(--body-bg-color);
}

header {
    margin-bottom: 5rem;
}
header img {
    height: 7em;
}

main {
    margin-bottom: 3rem;
}
main h1 {
    margin-bottom: 1rem;

    font-family: 'Work Sans', sans-serif;
    font-size: 1.7em;
    color: var(--title-color);
}
main h2 {
    margin-bottom: 1rem;

    font-family: 'League Spartan', sans-serif;
    font-size: 1.27em;
    color: var(--text-color);
}
main p {
    font-family: 'League Spartan', sans-serif;
    font-size: 1em;
    color: var(--text-color);
}

label {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
    color: var(--form-color);
}
form {
    width: 55vw;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;

    background-color: transparent;

    display: flex;
    flex-direction: row;
}
form input {
    width: 52vw;
    padding-left: 1em;

    font-family: 'Work Sans', sans-serif;

    border: none;
    border-left: 5px solid var(--title-color);
}
form input:focus {
    outline: none;
    border: none;
    border-left: 5px solid var(--title-color);
}
form button {
    width: 3rem;
    background-color: var(--bg-button-color);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0;
    border: none;
    outline: none;
}
form button:hover {
    cursor: pointer;
}

.link a {
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: var(--bg-button-color);
    text-decoration: none;
}