* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-rgb: 113, 90, 204;
    --primary-darker-rgb: 74, 46, 185;
    --primary-lighter-rbg: 221, 213, 255;
    --dark-rgb: 19, 16, 32;
    --color: rgb(19, 16, 32);
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
}
input {
    background-color: white;
    border: none;
}
input:focus {
    outline: none;
    border: none;
}

body {
    height: 100vh;
    width: 100vw;
    
    position: relative;
}

.main-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(var(--primary-rgb));
}

.wrapper {
    height: 100%;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}
header p {
    margin-bottom: 5px;

    font-weight: 200;
}

main {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 2px;
}
main input {
    height: 100%;
    width: 100%;

    font-size: 3rem;
    text-align: center;

    border-radius: 10px 10px 0 0;
}
main button {
    height: 100%;
    width: 100%;

    font-weight: 600;
    font-size: 3rem;
    color: white;

    border-radius: 0 0 10px 10px;

    background-color: rgb(var(--primary-darker-rgb));
}

aside {
    margin-top: 1vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}
aside .buttons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
aside .buttons button {
    padding: 5px 10px;

    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);

    color: rgb(var(--dark-rgb));

    background-color: rgb(var(--primary-lighter-rbg));
}
aside .hints {
    height: 1rem;
    color: rgb(var(--dark-rgb));
}

footer {
    font-size: 0.7em;
    color: rgb(var(--dark-rgb));
}
address {
    display: inline;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
}
.modal {
    height: 30%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.85);

    border-radius: 10px;
}
.modal h1 {
    color: rgb(var(--dark-rgb));
    font-size: 4em;
}
.modal p {
    margin-bottom: 20px;

    font-size: 1em;
    font-style: italic;
    font-weight: 400;
}
.modal button {
    color: white;
    font-size: 1.3em;

    padding: 5px 10px;

    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);

    background-color: rgb(var(--primary-rgb));
}

.hidden {
    display: none;
}